<div class="col-md-4"></div>
<div class="col-md-4"><
<h3>Question <%= @question.order %>: <%= @question.description %></h1>

<div class="list-group">
  <% @question.answers.each do |answer| %>
    <% if @answered %>
      <% if current_user.answers.include? answer %>
        <a href="#" class="list-group-item active">
      <% else %>
        <a href="#" class="list-group-item">
      <% end %>
          <%= answer.order %>: <%= answer.description %>
        </a>
    <% else %>
      <a href="/answers/<%= answer.id %>/choose" class="list-group-item">
        <%= answer.order %>: <%= answer.description %>
      </a>
    <% end %>
  <% end %>
</div>

<%# if user_signed_in? %>
  <%# if current_user.id == @room.user_id %>
    <!-- <div class="btn btn-primary pull-right">Present</div> -->
    <%#= render 'rooms/add_room', room: @room %>
  <%# end %>

  <!-- <div id="questions" class="col-md-6"> -->
    <%# if @questions %>
      <%# @questions.each do |question| %>
        <%#= render 'questions/question', question: question %>
      <%# end %>
    <%# end %>
  <!-- </div> -->
<%# end %>
<% if current_user.owner? %>
  <h1>We are here, owner!</h1>
<% else %>
  <h1>We are here, pollee!</h1>
<% end %>
</div>
<div class="col-md-4"></div>