<%# add navigation links to this file %>
<% if user_signed_in? %>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      User
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><%= link_to 'Edit account', edit_user_registration_path %></li>
      <li role="presentation"><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      <% if current_user.admin? %>
      <li><%= link_to 'Admin', '/admin' %></li>
      <li><%= link_to 'Users', users_path %></li>
      <% end %>
      <% if @room && current_user.id == @room.user_id %>
        <li><%= link_to 'Edit Room', '#' %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <!--Dont really need anything if you don't have an account yet --> 
<% end %>